div{        
    width: 100px;
    height: 100px;
    background-image: url(./Lighthouse.jpg);
    transition: width 2s,height 2s,transform 4s;


}
div:hover{
    transform: rotate(360deg);
    background-image: url(./Lighthouse.jpg);
    width: 400px;
    height: 400px;

}            
